@charset "UTF-8";

:root {
    --cor01: #caf0f8;
    --cor02: #90e0ef;
    --cor03: #00b4d8;
    --cor04: #0077b6;
    --cor05: #03045e;
}

* {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(to top, var(--cor02), var(--cor01));
    background-attachment: fixed;
}

h1 {
    color: var(--cor05);
    margin: 5px;
}

p {
    text-align: justify;
}

p > abbr {
    text-decoration: none;
    font-weight: bolder;
}

