@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    padding: 10px;
    justify-content: center;
    height: 600px;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 20px;
}

main > div.bloco {
    min-width: 200px;
    min-height: 100px;
    border-radius: 10px;
    text-align: center;
    
}

main > div#b1 {
    background-color: firebrick;  
}

main > div#b2 {
    background-color: burlywood;
}

main > div#b3 {
    background-color: cadetblue;
}