@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    box-sizing: border-box;
}

.grid-wrapper {
    display: grid;
    margin: 5px;

    grid-template-rows: repeat(4, auto);
    grid-template-columns: 240px 1fr;

    /*se tivesse 5 linhas do mesmo tamanho:
    grid-template-rows: repeat(5, 100px);

    se tiver mais de 5, o restante fica auto 

    se forem diferentes
    grid-template-rows: 100px, 50px, 500px, 100px;
    */

    gap: 10px;
}

.grid-wrapper > * {
    min-height: 100px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

header {
    background-color: #fbd4d4;
    /*o -1 significa que começa do final e vai avançando, no caso do -1, sempre vai até o último*/
    
    /*grid-column: 1 / -1;
    grid-row: 1 / 2;*/
    grid-area: 1 / 1 / 2 / -1;
}

nav {
    background-color: #99d8ff;
    grid-row: 2 / -2;
}

section {
    background-color: #eaffbd;
    grid-column: 2 / -1;  /*vai dessa até a outra*/
}

.grid-wrapper > main {
    background-color: #cccc;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

article {
    background-color: aquamarine;
    min-height: 100px;
    border-radius: 5px;
}

footer {
    background-color: #f5dcf3;
    /*
    grid-row: -2 / -1;
    grid-column: 1 / -1;
    */

    grid-area: -2 / 1 / -1 / -1; 
    /*primeira linha / primeira coluna / última linha / últma coluna*/
}