@charset "UTF-8";

body {
    background-color:rgba(187, 194, 254, 0.595);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1{
    color: midnightblue;
    background-color: aliceblue;
}

h2{
    color: rgb(101, 163, 225);
}
p{
    text-align: justify;
}