@charset "UTF-8";
body {
    font-family: Verdana, Tahoma, sans-serif;
}

div > p {
    /* oculta o parágrafo*/
    display: none; 
}

div:hover > p {
    /*exibe o parágrafo*/
    display: block; 
    color: white;
    background-color:  rgb(209, 73, 91);
    width: 300px;
}
div:hover {
    color:  rgb(209, 73, 91);
}